
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" action="/home/LoginValidate">
        <div class=" row">
            <div class="col-sm-3">
                Email_ID:
            </div>
            <div class="col-sm-9">
                <input type="text" name="email-id" id="email-id" />
            </div>
        </div>
        <div class=" row">
            <div class="col-sm-3">  
                Password:
            </div>
            <div class="col-sm-9">
                <input type="text" name="password" id="password" />  
            </div>
            <div class=" row">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div>
                <span class="text-center">@ViewData["Error"]</span>
            </div>
        </div>
    </form>
</div>
   

